.adaImg {
  width: 150px;
  height: 150px;
  background-image: url("./facePlaceholder.png");
  background-size: 150px 150px;
  background-origin: border-box;
  transform-origin: center;
  background-repeat: no-repeat;
}
