#submitToAi {
  position: relative;
}

#submitToAi legend {
  opacity: 0;
  height: 0;
}

label[for="aiPrompt"] {
  opacity: 0;
}

#aiPrompt {
  width: 300px;
  height: 50px;
  font-size: 16px;
}

.aiEngineSwiperContain {
  position: relative;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.aiEngineSwiperContain::-webkit-scrollbar {
  display: none;
}

.aiEngineSwiper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);
  display: flex;
  justify-content: center;
  padding: 32px 0;
}
