#submitToAi {
  overflow: hidden;
}

#submitToAi legend {
  opacity: 0;
  height: 0;
}

label[for="aiPrompt"] {
  opacity: 0;
}

#aiPrompt {
  width: 300px;
  height: 50px;
  font-size: 16px;
}

.aiEngineSwiper {
  display: flex;
  width: 100vw;
  overflow: scroll;
  padding-top: 16px;
}

.aiEngine {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
}

.aiEngine label {
  font-size: 32px;
}

.aiEngine input[type="radio"] {
  opacity: 0;
}

.aiEngine input[type="radio"]:checked {
  transform: scale(1.2);
}

.aiEngineChoice label {
  font-size: 32px;
}

.aiEngineImg {
  width: 100px;
  height: 150px;
  background-image: url("./facePlaceholder.png");
  background-size: 150px 150px;
  background-position: center;
  background-origin: border-box;
  padding-top: 40px;
  margin: auto;
}
