#submitToAi {
  overflow: hidden;
}

#submitToAi legend {
  opacity: 0;
  height: 0;
}

label[for="aiPrompt"] {
  opacity: 0;
}

#aiPrompt {
  width: 300px;
  height: 50px;
  font-size: 16px;
}

.aiEngineSwiper {
  display: flex;
  width: 100vw;
  overflow: scroll;
}

.aiEngine {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
}

.aiEngine label {
  padding-bottom: 88px;
  font-size: 32px;
}

.aiEngine input[type="radio"] {
  opacity: 0;
}

.aiEngineChoice label {
  font-size: 32px;
}

.adaImg {
  width: 100px;
  height: 150px;
  background-image: url("./facePlaceholder.png");
  background-size: 150px 150px;
  background-position: center;
}

.babbageImg {
  width: 100px;
  height: 150px;
  background-image: url("./facePlaceholder.png");
  background-size: 150px 150px;
  background-position: center;
}

.curieImg {
  width: 100px;
  height: 150px;
  background-image: url("./facePlaceholder.png");
  background-size: 150px 150px;
  background-position: center;
}

.daVinciImg {
  width: 100px;
  height: 150px;
  background-image: url("./facePlaceholder.png");
  background-size: 150px 150px;
  background-position: center;
}
